.app-ribbon{
  width: 100%;
  height: 35vh;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.app-main {
  margin-top: -35vh;
  flex-shrink: 0;
  width: 100%;
}

.app-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;

  @media screen and (max-width: $grid-tablet-breakpoint) {
    width: 100%;
    padding: 0;
  }
}

.app-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;

  @media screen and (max-width: $grid-tablet-breakpoint) {
    padding: 20px 15px;
    margin: 0px;
    width: 100%;
  }
}

.mdl-navigation__link {
  letter-spacing: 1px;
}

.app-layout__header--fixed {
  .mdl-layout__header + div{
    margin-top: 56px;
  }

  .mdl-layout__header {
    position: fixed;
    display: flex;
  }

  .mdl-layout-title {
    @media screen and (max-width: $grid-desktop-breakpoint) {
      display: none;
    }
  }

  .app-navigation__link {
    &--small-devices {
      display: none;
      @media screen and (max-width: $grid-desktop-breakpoint) {
        display: inline-block;
      }
    }

    &--desktop {
      @media screen and (max-width: $grid-desktop-breakpoint) {
        display: none;
      }
    }
  }

  .app-navigation__icon {
    font-size:2em;
    @extend .mdl-button;
    @extend .mdl-button--icon;
  }

  .app-menu--active{
    font-weight: 900;
    letter-spacing: 0;

    .app-navigation__icon{
      @extend .mdl-color-text--pink-400;
    }
  }

}

.mdl-list__item-avatar--transparent {
  background-color: transparent;
  color: inherit;
}

.mdl-list {
  .mdl-list__item {
    @media screen and (max-width: $grid-desktop-breakpoint) {
      padding: 16px 0;
    }
  }

  &.list_separated > .mdl-list__item:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.12);
  }

  &.mdl-list--ordered  {
    counter-reset: mdl-list-counter;
    @extend .animate_text_focus_in;

    & > .mdl-list__item:before {
      content: counter(mdl-list-counter) ".";
      counter-increment: mdl-list-counter;
      margin-right: 5px;

    }
  }
}

.mdl-badge[data-badge]:after {
  @extend .animate_bounce-in-fwd;
}

.mdl-list__item--two-line {
  min-height: 72px;
  height: auto;

  .mdl-list__item-primary-content {
    min-height: 36px;
    height: auto;
  }
}
.mdl-textfield{
  @media screen and (max-width: $grid-tablet-breakpoint) {
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: $grid-tablet-breakpoint) {
  .mdl-layout__header-row {
    padding: 0;

    .mdl-navigation{
      width: 100%;
      justify-content: space-around;
    }
  }
}
